<?xml version="1.0" encoding="UTF-8"?>
<suite name="FREE CRM Application Automation Test Suite" verbose="1">

	<listeners>
		<listener class-name="com.qa.extentReportListener.ExtentReporterListener" />
	</listeners>

	<test name="FREE CRM App Test Cases">
		<classes>
			<class name="com.crm.qa.testcases.LoginPageTest" />
			<class name="com.crm.qa.testcases.HomePageTest" />
			<class name="com.crm.qa.testcases.ContactsPageTest" />
		</classes>
	</test>
</suite>